.st03 {
	fill: #ffffff;
}
.st13 {
	fill: #010101;
}
.st23 {
	fill: url(#XMLID_2_);
}
.st33 {
	fill: url(#XMLID_3_);
}
.st43 {
	fill: url(#XMLID_4_);
}
.st53 {
	fill: #ffffff;
}
.st63 {
	font-family: "Poppins-ExtraBoldItalic";
}
.st73 {
	font-size: 29.652px;
}
